<div class="jumbotron">
<h1>Welcome to my app!</h1>
<p>Yeah, yeah, yeah. I know there's already a Pinterest. But this was for learnin'.</p>
<p> Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>